[Unit]
Description=flaskex
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/flaskex/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target